<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs">
		    <li>
		        <a href="{{ path('pooble_new') }}">{% trans %}Create{% endtrans %}</a>
		    </li>
		    <li>
		        <a href="{{ path('pooble_new_configure') }}">{% trans %}Configure{% endtrans %}</a>
		    </li>
		    <li>
		        <a href="">{% trans %}End{% endtrans %}</a>
		    </li>
		</ul>
	</div>
</div>